.App {
  margin: 0 auto;
  width: 75%;
}

.header {
  background-color: #f3f3f3;
}

.page {
  text-align: center;
  width: 75%;
}

.header li{
  display: inline;  
}

.header-group{
  float: right;
}

